/**
 * ----------------------------------------------------------------------------------------
 * Base styles.
 * ----------------------------------------------------------------------------------------
 */

body {
}

/**
 * Default spacing for paragraphs.
 */
p {
}

/**
 * Default styles for all headings.
 */
h1,
h2,
h3,
h4,
h5,
h6 {

}

/**
 * Individual styles for the headings.
 */
h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

/**
 * Links.
 */
a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}